<table border="2">
    <tr>
        <td>N°</td>
       <td>
          nom
       </td> 
       <td>

         prenoms
       </td>
       <td>
        motif
        </td>
        <td>
          date
        </td>
        <td>
            heure



       </td>
       
       <td>
        username
       </td>
      <td>actions</td>
    </tr>
<% listeRDV.forEach((rdv, i) => { %>
    <tr> 
        <td><%= i+1 %></td>
        <td><%= rdv.nom %></td>
        <td> <%= rdv.prenoms %></td>
        <td><%= rdv.motif %></td>
        <td><%= rdv.date %></td>
        <td><%= rdv.heure %></td>
        
        <td><%= rdv.username %></td>
        <td> <a href="/batiment/pageConsult/<%= rdv._id %>">Consulter</a></button>
        <form action="/batiment/membre/delete/<%= rdv._id %>" method="POST">
            <button type="submit">Supprimer</button>
        </form>
         <a href="/batiment/pageEdit/<%= rdv._id %>">Modifier</a></td>
        </tr>
       
<% }) %>

   
</table>
